@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full h-11 mb-4 bg-transparent transition-all duration-300 ease-in-out text-black dark:text-white border-[0.5px] border-[#757575] outline-none pl-2 pr-1 rounded-md truncate dark:hover:border-white focus:scale-[1.02] dark:focus:border-white hover:border-black
  }

  .button {
    @apply items-center justify-center px-2 py-1 ring-1 rounded-md ring-[#a5a5a5] dark:text-[#a5a5a5] dark:hover:bg-[#f1f1f1ef] dark:hover:text-black hover:bg-black hover:text-white transition-all duration-100 ease-in-out
  }

  .dropdownContainer {
    @apply mt-[10px] flex-col px-2 items-center justify-center text-black dark:text-[#a5a5a5] rounded-lg border-[0.5px] border-zinc-700 bg-transparent bg-gradient-to-r dark:from-[#141414] dark:to-zinc-900 dark:shadow-xl shadow-md shadow-[#444444] dark:shadow-black transition-all duration-300 ease-in-out
  }

  .basedShadow {
    @apply shadow-md shadow-[#aaaaaa] dark:shadow-[#00000069]
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  width: 435px;
  height: 550px;
}

/* Scrollbar */

* {
  scroll-behavior: smooth;
}

* {
  --scroll-bg: #e4e4e4;
  --scroll-fg: #c2c2c2;
  --scroll-fg-hover: #a5a5a5;
  --scroll-bg-dark: #09090b;
  --scroll-fg-dark: #18181b;
  --scroll-fg-hover-dark: #202024;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(#0096C7) var(--scroll-bg-dark);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-fg);
  border-radius: 20px;
  border: 3px solid var(--scroll-bg);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-fg-hover);
}

*.dark ::-webkit-scrollbar-track {
  background: var(--scroll-bg-dark);
}

*.dark ::-webkit-scrollbar-thumb {
  background-color: var(--scroll-fg-dark);
  border-radius: 20px;
  border: 3px solid var(--scroll-bg-dark);
}

*.dark::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-fg-hover-dark);
}